.todoListItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.todoListItemLabel {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.todoListItemDescription textarea {
    width: 100%;
}
.todoListItem .done{
    text-decoration: line-through;
}
.todoListItem .btn {
    width: 30px;
    margin-right: 5px;
}
.todoListItem .btn .fa-trash-o {
    color: red;
}
.important {
    color: tomato;
}


