.addItem {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 480px;
}
.addItem input {
    width: 70%;
}
.addItem button {
    width: 25%;
    border-radius: 5px;
}
.addItem button:hover {
    background: lightgray;
}
