.createAccount {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.createAccount  input {
    margin-bottom: 10px;
    border-radius: 7px;
}

.createAccount button {
    border-radius: 7px;
    background: darkgray;
}
